<div id="contact" @slideIn>
    <section id="header">
        <h1>Have Questions?</h1>
        <h1>Let us know!</h1>
        <p>Here's a few different ways you can reach us:</p>
    </section>

    <section id="chat">
        <h2>Chat With Us!</h2>
        <p>
            We offer a virtual chat assistant that is available 24/7.<br/>
            It should be able to answer most questions/concerns so we
            recommend trying the chat assistant as the first option.
        </p>
    </section>

    <section id="email">
        <h2>Email Us!</h2>
        <p>
            Send us an email at <i>notarealemail@gmail.com.</i><br/>
            <span>Please include your order number in the subject line to
            speed up the process.</span><br/>
            We will get back to you within the next 2-3 business days!
        </p>
    </section>

    <section id="phone">
        <h2>Call Us!</h2>
        <p>
            Our toll-free number is <i>+1(800) 123-4545.</i><br/>
            Our customer service line is available Monday-Friday, 8am-5pm.
        </p>
    </section>

    <button (click)="goToStore()" class="backBtn"><fa-icon [icon]="arrowLeft"></fa-icon> 가게로 가기 [Back to Store]</button>
</div>