@media screen and (min-width: 390px) {
    #contact {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    #header {
        height: 125px;
        text-align: center;
    }

    #header p {
        margin-top: 20px;
    }

    #chat,
    #email,
    #phone {
        cursor: default;
        width: 90%;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 20px;
        margin-top: 40px;
        box-shadow: 0 0 2px grey;
    }

    #chat:hover,
    #email:hover,
    #phone:hover {
        box-shadow: 0 0 2px 1px grey;
        transition: 0.3s box-shadow ease;
    }

    #chat h2, #email h2, #phone h2 {
        color: forestgreen;
        font-size: 1.2rem;
    }

    #chat p, #email p, #phone p {
        font-size: 0.9rem;
    }

    #email span {
        font-weight: bold;
    }

    #contact .backBtn {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    #contact {
        height: 750px;
    }

    #chat, 
    #email,
    #phone {
        max-width: 900px;
    }
}

@media screen and (min-width: 1280px) {
    #contact {
        height: 800px;
    }

    #header h1 {
        font-size: 1.7rem;
    }

    #chat,
    #email,
    #phone {
        max-width: 1000px;
        height: 200px;
    }
}