@media screen and (max-width: 767px) {
    .productGrid {
        min-height: 425px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .productNotFound {
        height: 425px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}