/* MOBILE */
@media screen and (max-width: 576px) {
    .account {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    fa-icon {
        display: inline-flex;
        font-size: 2rem;
        color: lightgrey;
        margin: 25px;   
        align-self: flex-start;
    }

    fa-icon:hover {
        color: #000;
        cursor: pointer;
    }

    .cardTall p {
        width: 250px;
        border-bottom: 1px solid lightgrey;
        margin-top: 10px;
    }

    .container button {
        width: 250px;
        height: 35px;
    }

    label, input {
        width: 250px;
        height: 35px;
    }

    form button {
        width: 250px;
        height: 35px;
    }
}