/* MOBILE */
@media screen and (min-width: 360px) {
    .account {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #222;
    }

    .cardTall {
        position: relative;
        width: 90vw;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid lightgrey;
        border-radius: 10px;
        box-shadow: 0 0 2px #000;
        margin: 40px 20px;
    }

    .cardInactive {
        border: 1px solid red;
    }

    #membershipNotice {
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        height: fit-content;
        background-color: red;
        color: #FFF;
        font-size: 0.8rem;
        font-weight: bold;
        padding: 4px;
        margin: 5px 5px;
    }

    .cardTall p {
        width: 250px;
        border-bottom: 1px solid lightgrey;
        margin-top: 10px;
    }

    .container {
        height: 100px;
    }

    .container button {
        width: 250px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .cardTall {
        width: 700px;
        height: 750px;
    }
}