/* MOBILE */
@media screen and (max-width: 576px) {
    .account {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .cardTall {
        background-color: #FFF;
        z-index: 3;
    }

    .cardTall p {
        width: 250px;
        border-bottom: 1px solid lightgrey;
        margin-top: 10px;
    }

    .container button {
        width: 250px;
        height: 35px;
    }
    
    form {
        width: 350px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgrey;
        border-radius: 10px;
        box-shadow: 0 0 1px #000;
        margin: 20px 20px;
        visibility: hidden;
        z-index: 2;
    }

    label, input {
        width: 250px;
        height: 35px;
    }

    form button {
        width: 250px;
        height: 35px;
    }

    #cancelBtn {
        font-size: 1rem;
    }
}