<div class="account">
    <section [ngClass]="membershipVal ? null : 'cardInactive'" class="cardTall" @slideIn>
        <span [ngStyle]="{'visibility': membershipVal ? 'hidden' : 'visible'}"id="membershipNotice">INACTIVE</span>
        <div [ngStyle]="{'text-align': 'center'}">
            <h2>계정 정보</h2>
            <h4>[Membership Details]</h4>
        </div>
        <div>
            <p>Email: {{ userEmail }}</p>
            <p>Password: ******</p>
            <p>Membership Status: <span [style.color]="membershipVal ? 'green' : 'red'">{{ membershipVal ? 'Active' : 'Inactive' }}</span></p>
        </div>

        <div class="container">
            <button (click)="changePassword()" class="primaryBtn">Change Password</button>
            <button (click)="changeMembership()" [ngClass]="membershipVal ? 'dangerBtn' : 'primaryBtn'">{{ membershipVal ? 'Deactivate Membership' : 'Activate Membership'}}</button>
            <button (click)="logout()" class="dangerBtn">Log Out</button>
        </div>
    </section>
</div>