<div class="cart">
    <h2>카트 내용</h2>
    <h4>[Your Cart]</h4>

    <section *ngIf="getCartInfo().length > 0">
        <div *ngFor="let product of getCartInfo(); let i = index;">
            <div class="cardWide">
                <img [src]="product.imgSrc" height="100px" [alt]="product.name">
                <p>{{ product.name }} </p>
                <p [ngStyle]="{'font-weight': 'bold'}">{{ product.price | currency:'USD' }} x{{ product.count }}</p>
            </div>
        </div>
    </section>

    <section *ngIf="getCartInfo().length === 0">Your cart is empty.</section>

    <h4 *ngIf="getCartInfo().length > 0">Total: {{ getCartTotal() | currency:'USD' }}</h4>
</div>
