@media screen and (min-width: 360px) {
    section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart {
        width: 90vw;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #222;
        border: 1px solid lightgrey;
        border-radius: 10px;
        box-shadow: 0 0 2px #000;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
    }

    .cart h4 {
        margin-bottom: 20px;
    }

    #cartItemContainer {
        margin: 20px 0;
    }

    .cartItem {
        width: 75vw;
        height: 100px;
        margin-top: 10px;
    }
    
    .cartItem img {
        border-radius: 5px;
    }
    
    .cartItem p {
        font-size: 0.8rem;
    }
    
    .cartItem::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: lightgrey;
        margin: auto;
    }
    
    .cartItem > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    #cartBtnContainer {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }

    .emptyCartBtn {
        width: 220px;
        height: 35px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        color: dimgrey;
        border: 1px solid dimgrey;
        border-radius: 5px;
    }

    .emptyCartBtn:hover {
        cursor: pointer;
        background-color: grey;
        border: none;
        color: #FFF;
    }

    .checkoutBtn {
        width: 220px;
        height: 35px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        color: green;
        border: 1px solid green;
        border-radius: 5px;
    }

    .checkoutBtn:hover {
        cursor: pointer;
        background-color: green;
        border: none;
        color: #FFF;
    }

    .btnNotAllowed {
        cursor: not-allowed;
        width: 220px;
        height: 35px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        color: lightgrey;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }

    .btnNotAllowed:hover {
        background-color: none;
    }
}

@media screen and (min-width: 768px) {
    .cart {
        width: 700px;
        min-height: 750px;
    }
}