<div class="store">
    <section class="heroBanner" @fadeInSlow>
        <img src="../../../assets/images/kbs_landscape_dark.jpg" alt="Hero banner">
    </section>

    <h2 @fadeInSlow>TOP SELLERS</h2>
    <app-topseller></app-topseller>

    <h2 @fadeInSlow>NEW RELEASE</h2>
    <app-newrelease></app-newrelease>

    <section class="productFilters" @fadeInSlow>
        <h3>Browse Titles</h3>
        <div class="filters">
            <div>
                <button (click)="toggleFilter('price')">Price <fa-icon [icon]="caretDown"></fa-icon></button>
                <div [ngStyle]="{'visibility': togglePrice ? 'visible' : 'hidden'}" class="filterOptions">
                    <p (click)="filterByPrice('L2H')">Low -> High</p>
                    <p (click)="filterByPrice('H2L')">High -> Low</p>
                </div>
            </div>
            <div>
                <button (click)="toggleFilter('pop')">Popularity <fa-icon [icon]="caretDown"></fa-icon></button>
                <div [ngStyle]="{'visibility': togglePop ? 'visible' : 'hidden'}" class="filterOptions">
                    <p (click)="filterByPop('up')">Trending</p>
                    <p (click)="filterByPop('down')">Declining</p>
                </div>
            </div>
        </div>
    </section>
    <app-products [filterPrice]="filterPrice" [filterPop]="filterPop"></app-products>

</div>