@media screen and (max-width: 576px) {
    .store {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow-x: hidden;
    }

    .heroBanner {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }

    .heroBanner img {
        width: 100%;
        height: 300px;
    }

    .store h2 {
        border: 1px solid grey;
        padding: 10px;
        margin-top: 50px;
    }

    .productFilters {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid lightgrey;
        padding: 10px;
    }

    .filters {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filters > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filters button {
        width: 100px;
        height: 30px;
        background-color: #FFF;
        font-family: 'Poppins', sans-serif;
        border: 1px solid lightgrey;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.1s background-color ease;
    }

    .filters button:hover {
        background-color: lightgrey;
        transition: 0.1s background-color ease;
    }

    .filterOptions {
        position: absolute;
        width: 100px;
        height: 60px;
        background-color: #FFF;
        text-align: center;
        visibility: hidden;
        border: 1px solid lightgrey;
        border-radius: 5px;
        margin-top: 30px;
        z-index: 3;
    }

    .filterOptions > p {
        height: 30px;
        font-size: 0.85rem;
        border-radius: 5px;
        padding-top: 5px;
    }

    .filterOptions > p:hover {
        background-color: lightgrey;
        cursor: pointer;
    }
}