@media screen and (max-width: 474px) {
    .store {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;
        overflow-x: hidden;
    }

    .heroBanner {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #f2f2f2;
    }

    .heroBanner img {
        width: 100%;
        min-height: 300px;
    }

    .productFilters {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        border: 1px solid lightgrey;
        padding: 10px;
    }

    .filter {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter span {
        font-size: 0.7rem;
        margin-right: 5px;
    }

    #sort {
        display: flex;
        align-items: center;
    }

    #sort button {
        width: 75px;
        height: 25px;
        background-color: #f2f2f2;
        color: #222;
        font-family: 'Poppins', sans-serif;
        border: 1px solid lightgrey;
        border-radius: 10px;
        cursor: pointer;
        margin-right: 10px;
        transition: 0.1s background-color ease;
    }

    #sort button:hover {
        background-color: #fff;
        transition: 0.1s background-color ease;
    }

    .filterOptions {
        position: absolute;
        width: 75px;
        height: 50px;
        background-color: #f2f2f2;
        color: #222;
        text-align: center;
        visibility: hidden;
        border: 1px solid lightgrey;
        border-radius: 5px;
        z-index: 3;
    }

    .filterOptions > p {
        height: 25px;
        font-size: 0.8rem;
        border-radius: 5px;
        padding-top: 4px;
    }

    .filterOptions > p:hover {
        background-color: #fff;
        cursor: pointer;
    }

    #searchField {
        position: relative;
    }

    #searchField input {
        width: 160px;
        height: 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 7px;
    }

    #searchField input:focus {
        background-color: #fff;
        border: 1px solid green;
        outline: none;
    }

    #searchBtn {
        position: absolute;
        top: 2px;
        right: 5px;
        width: 25px;
        height: 25px;
        background-color: #f2f2f2;
        color: green;
        font-size: 0.8rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    #searchBtn:hover {
        background-color: green;
        color: #FFF;
    }
}

@media screen and (min-width: 475px) and (max-width: 767px) {
    .store {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .heroBanner {
        width: 100%;
        height: calc(width * 0.5625); /* 16/9 aspect ratio */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #f2f2f2;
    }

    .heroBanner img {
        width: 100%;
        min-height: 300px;
    }

    .productFilters {
        width: 100vw;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid lightgrey;
        padding: 10px;
    }

    .productFilters h3 {
        margin-left: 10px;
    }

    .filter {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter span {
        font-size: 0.7rem;
        margin-right: 5px;
    }

    #sort {
        display: flex;
        align-items: center;
    }

    #sort button {
        width: 75px;
        height: 25px;
        background-color: #f2f2f2;
        font-family: 'Poppins', sans-serif;
        border: 1px solid lightgrey;
        border-radius: 10px;
        cursor: pointer;
        margin-right: 10px;
        transition: 0.1s background-color ease;
    }

    #sort button:hover {
        background-color: #fff;
        transition: 0.1s background-color ease;
    }

    .filterOptions {
        position: absolute;
        width: 75px;
        height: 50px;
        background-color: #f2f2f2;
        text-align: center;
        visibility: hidden;
        border: 1px solid lightgrey;
        border-radius: 5px;
        z-index: 3;
    }

    .filterOptions > p {
        height: 24px;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 5px;
        padding-top: 4px;
    }

    .filterOptions > p:hover {
        background-color: #fff;
        cursor: pointer;
    }

    #searchField {
        position: relative;
        margin-right: 10px;
    }

    #searchField input {
        width: 140px;
        height: 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding: 7px;
    }

    #searchField input:focus {
        background-color: #fff;
        border: 1px solid green;
        outline: none;
    }

    #searchBtn {
        position: absolute;
        top: 2px;
        right: 5px;
        width: 25px;
        height: 25px;
        background-color: #f2f2f2;
        color: green;
        font-size: 0.8rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    #searchBtn:hover {
        background-color: green;
        color: #FFF;
    }
}

@media screen and (min-width: 650px) {
    .productFilters {
        height: 100px;
    }

    #sort span {
        font-size: 0.9rem;
    }

    #sort button {
        width: 75px;
        height: 25px;
        border-radius: 25px;
    }

    #searchField input {
        width: 160px;
        height: 30px;
        border-radius: 25px;
    }
}

@media screen and (min-width: 768px) {
    .store {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .heroBanner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #f2f2f2;
    }

    .heroBanner img {
        width: 100%;
        min-height: 300px;
    }

    .productFilters {
        width: 100vw;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid lightgrey;
        padding: 10px;
    }

    .productFilters h3 {
        font-size: 1.4rem;
        margin-left: 10px;
    }

    .filter {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter span {
        font-size: 1rem;
        margin-right: 5px;
    }

    #sort {
        display: flex;
        align-items: center;
    }

    #sort button {
        width: 100px;
        height: 35px;
        background-color: #f2f2f2;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        border: 1px solid lightgrey;
        border-radius: 20px;
        cursor: pointer;
        margin-right: 15px;
        transition: 0.1s background-color ease;
    }

    #sort button:hover {
        background-color: #fff;
        transition: 0.1s background-color ease;
    }

    .filterOptions {
        position: absolute;
        width: 100px;
        height: 70px;
        background-color: #f2f2f2;
        text-align: center;
        visibility: hidden;
        border: 1px solid lightgrey;
        border-radius: 15px;
        z-index: 3;
    }

    .filterOptions > p {
        height: 34px;
        text-align: center;
        font-size: 0.9rem;
        border-radius: 15px;
        padding-top: 6px;
    }

    .filterOptions > p:hover {
        background-color: #fff;
        cursor: pointer;
    }

    #searchField {
        position: relative;
    }

    #searchField input {
        width: 220px;
        height: 35px;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 20px;
        padding: 10px;
        margin-right: 10px;
    }

    #searchField input:focus {
        background-color: #fff;
        border: 1px solid green;
        outline: none;
    }

    #searchBtn {
        position: absolute;
        top: 3px;
        right: 17px;
        width: 30px;
        height: 30px;
        background-color: #f2f2f2;
        color: green;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    #searchBtn:hover {
        background-color: green;
        color: #FFF;
    }
}