<div class="store">
    <section class="heroBanner" @slideDownSlow>
        <img src="../../../assets/images/kbs_landscape_dark.jpg" alt="Hero banner">
    </section>

    <h2 @fadeInSlow>TOP SELLERS</h2>
    <app-topseller></app-topseller>

    <h2 @fadeInSlow>NEW RELEASE</h2>
    <app-newrelease></app-newrelease>

    <section class="productFilters" @fadeInSlow>
        <h3>Browse Titles</h3>
        <div class="btnFilters">
            <button (click)="togglePriceFilter()">Price <fa-icon [icon]="caretDown"></fa-icon></button>
            <div *ngIf="togglePrice">
                <div>
                    <p>Low -> High</p>
                    <p>High -> Low</p>
                </div>
            </div>
            <button (click)="togglePopFilter()">Popularity <fa-icon [icon]="caretDown"></fa-icon></button>
            <ng-container *ngIf="togglePop">
                <div>
                    <p>Trending</p>
                    <p>Declining</p>
                </div>
            </ng-container>
        </div>
    </section>
    <app-products></app-products>
</div>