<nav @slideDownSlow>
    <div>
        <a routerLink="/store"><img src="../../../assets/images/logo2.png" alt="Logo"></a>
    </div>
    <div>
        <ng-template [ngIf]="browserWidth < 1024">
            <div>
                <button (click)="showCart()"><fa-icon [icon]="cartIcon"></fa-icon></button>
                <p *ngIf="isCartNonEmpty() > 0">{{ cartItemLength }}</p>
            </div>
            <button (click)="showMenuPanel()"><fa-icon [icon]="menuIcon"></fa-icon></button>
        </ng-template>
        <ng-template [ngIf]="browserWidth >= 1024">
            <div>
                <a routerLink="/cart"><fa-icon [icon]="cartIcon"></fa-icon></a>
                <p *ngIf="isCartNonEmpty() > 0">{{ cartItemLength }}</p>
            </div>        
            <a routerLink="/account"><fa-icon [icon]="userGearIcon"></fa-icon></a>
        </ng-template>
    </div>
</nav>
