@media screen and (max-width: 767px) {
    nav {
        position: sticky;
        top: 0;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--luxury-black);
        box-shadow: 0 1px 10px 1px  #060d00;
        z-index: 2;
    }

    nav > div {
        width: 120px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: var(--luxury-black);
        color: #f2f2f2;
        border: none;
        transition: 0.1s background-color ease;
    }

    button:hover {
        cursor: pointer;
        background-color: green;
        transition: 0.1s background-color ease;
    }

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 75px;
        color: #FFF;
        text-decoration: none;
    }

    a:hover {
        background-color: green;
        color: #FFF;
        text-decoration: underline;
    }

    img {
        height: 75px;
    }

    fa-icon {
        font-size: 1.7rem;
    }

    p {
        position: absolute;
        top: 0;
        margin-top: 10px;
        margin-left: 30px;
        width: fit-content;
        height: fit-content;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        background-color: green;
        color: #f2f2f2;
        border-radius: 50%;
        padding: 4px;
    }
}