<div class="pwdChange">
    <form (ngSubmit)="pwdChangeSubmit()" class="cardTall" @slideIn>
        <div>
            <h2>비밀번호 변경</h2>
            <h4>[Change Your Password]</h4>
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password">
        </div>
        <div>
            <label for="passConfirm">Confirm New Password:</label>
            <input type="password">
        </div>
    
        <button id="submitBtn" class="submitBtn" type="submit">Submit</button>
        <button (click)="goToPrev()" id="backBtn"><fa-icon [icon]="backArrow"></fa-icon> Back to Account</button>
    </form>

    <div *ngIf="updateSuccess" id="pwdUpdateSuccess" @slideDown>
        <fa-icon [icon]="checkmark"></fa-icon> Password successfully updated!
    </div>
</div>