<div class="pwdChange">
    <form (ngSubmit)="pwdChangeSubmit()" #pwdChangeForm="ngForm" class="cardTall" @slideIn>
        <div>
            <h2>비밀번호 변경</h2>
            <h4>[Change Your Password]</h4>
        </div>

        <section>
            <div>
                <label for="newPassword">New Password:</label>
                <input [(ngModel)]="form.newPassword" #pwField="ngModel" type="password" name="newPassword" required>
                <p *ngIf="pwField.touched && pwField.invalid" class="formError">Please enter your new password.</p>
            </div>
            <div [ngStyle]="{'margin-top': '-60px'}">
                <label for="passConfirm">Confirm New Password:</label>
                <input [(ngModel)]="form.passConfirm" #pwConfirmField="ngModel" type="password" name="passConfirm"
                    required>
                <p *ngIf="pwConfirmField.touched && pwConfirmField.invalid" class="formError">Please confirm your new
                    password.</p>
            </div>

            <button [ngClass]="pwdChangeForm.form.invalid ? 'btnNotAllowed' : 'submitBtn'" type="submit">Submit</button>
            <button (click)="goToPrev()" class="backBtn"><fa-icon [icon]="backArrow"></fa-icon> Back to Account</button>
        </section>
    </form>

    <div *ngIf="updateSuccess" id="pwdUpdateSuccess" @slideDown>
        <fa-icon [icon]="checkmark"></fa-icon> Password successfully updated!
    </div>
</div>