<div @fadeInSlow>
    <section id="sectionHeader">
        <h2>NEW RELEASE</h2>
    </section>
    <ng-container *ngIf="browserWidth < 768">
        <section class="newRelease">
            <img [src]="newProduct.imgSrc" alt="New Release">
            <div>
                <h3>{{ newProduct.name }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque repudiandae nisi eaque, eos
                    laboriosam? Quasi, ipsa. Exercitationem ullam odio pariatur mollitia. Laudantium dolorem explicabo
                    nobis
                    nihil repellendus rerum cumque?</p>
                <p [ngStyle]="{'font-style':'italic'}">Release date: {{ newProduct.premiere }}</p>

                <h4>{{ newProduct.price | currency:'USD' }}</h4>

                <button
                    [ngStyle]="isAddedToCart ? {'background-color': 'limegreen', 'color': '#FFF', 'border': 'none'} : null"
                    (click)="emitAddToCart()" id="addBtn">
                    <ng-container *ngIf="isAddedToCart"><fa-icon [icon]="checkmark"></fa-icon> 카트에 담긴
                        [Added]</ng-container>
                    <ng-container *ngIf="!isAddedToCart">카트 담기 [Add To Cart]</ng-container>
                </button>
            </div>
        </section>
    </ng-container>
    <ng-container *ngIf="browserWidth >= 768">
        <section class="newRelease">
            <img [src]="newProduct.imgSrc" alt="New Release">
            <div>
                <h3>{{ newProduct.name }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque repudiandae nisi eaque,
                    eos
                    laboriosam? Quasi, ipsa. Exercitationem ullam odio pariatur mollitia. Laudantium dolorem
                    explicabo nobis
                    nihil repellendus rerum cumque?</p>
                <p [ngStyle]="{'font-style':'italic'}">Release date: {{ newProduct.premiere }}</p>
            </div>

            <h4>{{ newProduct.price | currency:'USD' }}</h4>
            <button
                [ngStyle]="isAddedToCart ? {'background-color': 'limegreen', 'color': '#FFF', 'border': 'none'} : null"
                (click)="emitAddToCart()" id="addBtn">
                <ng-container *ngIf="isAddedToCart"><fa-icon [icon]="checkmark"></fa-icon> 카트에 담긴 [Added]</ng-container>
                <ng-container *ngIf="!isAddedToCart">카트 담기 [Add To Cart]</ng-container>
            </button>
        </section>
    </ng-container>
</div>