<section class="newRelease" @fadeInSlow>
    <img [src]="newProduct.imgSrc" alt="New Release">
    <div>
        <h3>{{ newProduct.name }}</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque repudiandae nisi eaque, eos
            laboriosam? Quasi, ipsa. Exercitationem ullam odio pariatur mollitia. Laudantium dolorem explicabo nobis
            nihil repellendus rerum cumque?</p>
        <p [ngStyle]="{'font-style':'italic'}">Release date: {{ newProduct.premiere }}</p>
        
        <h4>{{ newProduct.price | currency:'USD' }}</h4>
        <div class="btnContainer">
            <button id="purchaseBtn">구매하기 [Purchase]</button>
            <button id="addBtn">카트 담기 [Add To Cart]</button>
        </div>
    </div>
</section>