@media screen and (max-width: 539px) {
    .newRelease {
        width: 100%;
        height: 720px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .newRelease img {
        width: 100%;
        height: 35%;
        margin-top: 50px;
    }

    .newRelease > div {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--luxury-black);
        color: #f2f2f2;
        padding: 10px;
    }

    .newRelease p {
        font-size: 0.8rem;
    }

    .newRelease h3 {
        font-size: 1.4rem;
    }

    .newRelease h4 {
        font-size: 1.7rem;
        align-self: flex-end;
    }

    #addBtn {
        width: 100%;
        height: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #FFF;
        background-color: #0f3d3e;
        border: none;
        border-radius: 5px;
        align-self: center;
        transition: background-color 0.1s ease;
    }

    #addBtn:hover {
        cursor: pointer;
        background-color: #FFF;
        color: #000;
        transition: background-color 0.1s ease;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    .newRelease {
        width: 100%;
        height: 640px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .newRelease img {
        width: 100%;
        height: 45%;
        margin-top: 50px;
    }

    .newRelease > div {
        width: 100%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--luxury-black);
        color: #f2f2f2;
        padding: 10px;
    }

    .newRelease p {
        font-size: 0.8rem;
    }

    .newRelease h4 {
        font-size: 1.7rem;
        align-self: flex-end;
    }

    #addBtn {
        width: 195px;
        height: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #FFF;
        background-color: #0f3d3e;
        border: none;
        border-radius: 5px;
        align-self: flex-end;
        transition: background-color 0.1s ease;
    }

    #addBtn:hover {
        background-color: #FFF;
        color: #000;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
}