<div @fadeInSlow>
    <section id="sectionHeader">
        <h2>NEW RELEASE</h2>
    </section>
    <ng-container *ngIf="browserWidth < 768">
        <section class="newRelease">
            <img [src]="newProduct.imgSrc" alt="New Release">
            <div>
                <h3>{{ newProduct.name }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque repudiandae nisi eaque, eos
                    laboriosam? Quasi, ipsa. Exercitationem ullam odio pariatur mollitia. Laudantium dolorem explicabo
                    nobis
                    nihil repellendus rerum cumque?</p>
                <p [ngStyle]="{'font-style':'italic'}">Release date: {{ newProduct.premiere }}</p>

                <h4>{{ newProduct.price | currency:'USD' }}</h4>
                <ng-container *ngIf="isAddedToCart && isMembershipActive">
                    <button (click)="emitAddToCart()" [ngStyle]="{'background-color': 'limegreen', 'color': '#FFF', 'border': 'none'}" id="addBtn"><fa-icon [icon]="checkmark"></fa-icon>카트에 담긴 [Added]</button>
                </ng-container>
                <ng-container *ngIf="!isAddedToCart && isMembershipActive">
                    <button (click)="emitAddToCart()" id="addBtn">카트 담기 [Add To Cart]</button>
                </ng-container>
                <ng-container *ngIf="!isMembershipActive">
                    <button id="membershipDisabled">멤버십 비활성<br/>[Membership Inactive]</button>
                </ng-container>
            </div>
        </section>
    </ng-container>
    <ng-container *ngIf="browserWidth >= 768">
        <section class="newRelease">
            <img [src]="newProduct.imgSrc" alt="New Release">
            <div>
                <h3>{{ newProduct.name }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque repudiandae nisi eaque,
                    eos
                    laboriosam? Quasi, ipsa. Exercitationem ullam odio pariatur mollitia. Laudantium dolorem
                    explicabo nobis
                    nihil repellendus rerum cumque?</p>
                <p [ngStyle]="{'font-style':'italic'}">Release date: {{ newProduct.premiere }}</p>
            </div>

            <h4>{{ newProduct.price | currency:'USD' }}</h4>
            <ng-container *ngIf="isAddedToCart && isMembershipActive">
                <button (click)="emitAddToCart()" [ngStyle]="{'background-color': 'limegreen', 'color': '#FFF', 'border': 'none'}" id="addBtn"><fa-icon [icon]="checkmark"></fa-icon>카트에 담긴 [Added]</button>
            </ng-container>
            <ng-container *ngIf="!isAddedToCart && isMembershipActive">
                <button (click)="emitAddToCart()" id="addBtn">카트 담기 [Add To Cart]</button>
            </ng-container>
            <ng-container *ngIf="!isMembershipActive">
                <button id="membershipDisabled">멤버십 비활성<br/>[Membership Inactive]</button>
            </ng-container>
        </section>
    </ng-container>
</div>