@media screen and (max-width: 539px) {
    #sectionHeader {
        width: 100vw;
        height: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid grey;
    }

    #sectionHeader h2 {
        color: #f2f2f2;
        border: 1px solid grey;
        padding: 10px;
    }

    .newRelease {
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #222;
    }

    .newRelease img {
        width: 100%;
        height: 35%;
    }

    .newRelease > div {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #222;
        color: #f2f2f2;
        padding: 15px;
        border-top: 1px solid grey;
    }

    .newRelease p {
        font-size: 0.8rem;
    }

    .newRelease h3 {
        font-size: 1.4rem;
    }

    .newRelease h4 {
        font-size: 1.7rem;
        align-self: flex-end;
    }

    #addBtn {
        width: 100%;
        height: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #FFF;
        background-color: #0f3d3e;
        border: none;
        border-radius: 5px;
        align-self: center;
        transition: background-color 0.1s ease;
    }

    #addBtn:hover {
        cursor: pointer;
        background-color: #FFF;
        color: #000;
        transition: background-color 0.1s ease;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    #sectionHeader {
        width: 100vw;
        height: 125px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid grey;
    }

    #sectionHeader h2 {
        color: #f2f2f2;
        border: 1px solid grey;
        padding: 10px;
    }

    .newRelease {
        width: 100%;
        height: 625px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #222;
    }

    .newRelease img {
        width: 100%;
        height: 45%;
    }

    .newRelease > div {
        width: 100%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #222;
        color: #f2f2f2;
        padding: 15px;
        border-top: 1px solid grey;
    }

    .newRelease p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .newRelease h3 {
        font-size: 1.5rem;
    }

    .newRelease h4 {
        font-size: 1.7rem;
        align-self: flex-end;
    }

    #addBtn {
        width: 195px;
        height: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #FFF;
        background-color: #0f3d3e;
        border: none;
        border-radius: 5px;
        align-self: flex-end;
        transition: background-color 0.1s ease;
    }

    #addBtn:hover {
        background-color: #FFF;
        color: #000;
        cursor: pointer;
        transition: background-color 0.1s ease;
    }
}