<div class="revieworder" @slideIn>
    <div [ngStyle]="{'text-align': 'center'}">
        <h2>오더 리뷰</h2>
        <h4>[Review Order]</h4>
    </div>

    <div class="cartItemContainer">
        <div *ngFor="let product of getCartInfo(); let i = index;">
            <div class="cartItem">
                <div>
                    <img [src]="product.imgSrc" height="55px" alt="product.name">
                    <p>{{ product.name }}</p>
                    <p [ngStyle]="{'font-weight': 'bold'}">{{ product.price | currency:'USD' }}<span *ngIf="product.count !== 1">x{{ product.count }}</span></p>
                </div>
            </div>
        </div>
    </div>

    <h3>Total: {{ getCartTotal() | currency:'USD' }}</h3>

    <button id="purchaseBtn" (click)="purchaseConfirm()">
        <ng-container *ngIf="isLoading">Loading...</ng-container>
        <ng-container *ngIf="!isLoading">구매 하기 [Purchase]</ng-container> 
    </button>
    <button (click)="goToPrev()" class="backBtn"><fa-icon [icon]="backArrow"></fa-icon> 뒤로 가기 [Go Back]</button>
</div>
