@media screen and (min-width: 420px) and (max-width: 767px) {
    .revieworder {
        width: 90vw;
        height: auto;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid lightgrey;
        border-radius: 10px;
        box-shadow: 0 0 1px #000;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 60px;
    }

    #purchaseBtn {
        width: 220px;
        height: 35px;
        background-color: var(--bg-green);
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        border: 1px solid var(--font-green);
        border-radius: 5px;
    }

    #purchaseBtn:hover {
        cursor: pointer;
        background-color: var(--hover-green);
        color: #FFF;
    }
}