<ng-container *ngIf="!data">
    <div class="modal">
        <section *ngIf="membershipVal">
            <h1 mat-dialog-title>Are you sure you want to deactivate your membership?</h1>
            <p mat-dialog-content>
                Deactivation will prevent you from store purchases until you reactivate.
            </p>
        </section>
        <section *ngIf="!membershipVal">
            <h1 mat-dialog-title>Are you sure you want to reactivate your membership?</h1>
            <p mat-dialog-content>
                Reactivation will grant you access to all of our products & features.
            </p>
        </section>
        
        <div>
            <button class="redBtn" *ngIf="membershipVal" (click)="deactivate()" mat-button>Deactivate</button>
            <button class="greenBtn" *ngIf="!membershipVal" (click)="activate()" mat-button>Activate</button>
            <button class="cancelBtn" (click)="closeModal()" mat-button>Cancel</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="data">
    <div class="modal">
        <section>
            <h1 mat-dialog-title>Are you sure you want to log out?</h1>
            <p mat-dialog-content>
                You will have to sign back in again to be granted access to the store.
            </p>
        </section>
        
        <div>
            <button class="redBtn" (click)="confirmLogout()" mat-button>Log Out</button>
            <button class="cancelBtn" (click)="closeModal()" mat-button>Cancel</button>
        </div>
    </div>
</ng-container>