<div @fadeInSlow>
    <section id="sectionHeader">
        <h2>TOP SELLERS</h2>
    </section>
    <section class="carousel">
        <ng-container *ngFor="let product of topProducts; let i = index;">
            <div [ngClass]="activeSlide === i+1 ? 'active' : 'hidden'" class="slide">
                <img [src]="product.imgSrc" alt="product.name" [@slideIn]="activeSlide">
                <p [@slideIn]="activeSlide">{{ product.name }}</p>
                <p [ngStyle]="{'font-size': '2rem', 'color': 'green'}" [@slideIn]="activeSlide">{{ product.price | currency:'USD' }}</p>
            </div>
    
            <div id="carouselNav">
                <button (click)="moveSlide('left')"><fa-icon [icon]="leftArrow"></fa-icon></button>
                <button (click)="moveSlide('right')"><fa-icon [icon]="rightArrow"></fa-icon></button>
            </div>
        </ng-container>
    </section>
</div>