<div class="landing">
    <div @slideDownSlow>
        <h1>한인 가게의 환영합니다</h1>
        <h3>Welcome to the Korean Store</h3>
    </div>

    <section @fadeInSlow>
        <form (ngSubmit)="loginSubmit()" #loginForm="ngForm" class="loginForm">
            <div [ngStyle]="{'text-align': 'center'}">
                <h2>로그인</h2>
                <h4>[Login]</h4>
            </div>

            <div>
                <label for="email">이메일 [Email]:</label>
                <input [(ngModel)]="form.email" #emailField="ngModel" type="email" name="email" placeholder="Email"
                    required>
                <p *ngIf="emailField.invalid && emailField.touched" class="formError">Email is invalid.</p>
            </div>

            <div>
                <label for="password">비밀번호 [Password]:</label>
                <input [(ngModel)]="form.password" #pwField="ngModel" type="password" name="password"
                    placeholder="Password" required>
                <p *ngIf="pwField.invalid && pwField.touched" class="formError">Password is invalid.</p>
            </div>

            <button [ngClass]="loginForm.form.invalid ? 'btnNotAllowed' : 'submitBtn'" type="submit">
                <ng-container *ngIf="isLoading()">Loading...</ng-container>
                <ng-container *ngIf="!isLoading()">Submit</ng-container>
            </button>

            <div id="signUpInfo">
                <p>아직 계정이 없으신가요?<br />Don't have an account?</p>
                <a routerLink="register">회원 가입 [Sign Up]</a>
            </div>
        </form>
    </section>

    <p [ngStyle]="{'margin-top': '50px'}" @fadeInSlow>&copy; 2023 Grady J. Ku</p>
</div>