<section>
    <div class="product">
        <img [src]="product.imgSrc" [alt]="product.name">
        <p>{{ product.name }}</p>
        <p>{{ product.price | currency:'USD' }}</p>

        <div>
            <button (click)="toggleQuantityOptions()" class="quantityBtn">Quantity: {{ quantity }} <fa-icon
                    [icon]="caretDownIcon"></fa-icon></button>
            <div [ngStyle]="{'visibility': isVisible ? 'visible' : 'hidden'}" class="quantityOptions">
                <p (click)="setQuantity(1)">1</p>
                <p (click)="setQuantity(2)">2</p>
                <p (click)="setQuantity(3)">3</p>
            </div>
        </div>
    </div>

    <button [ngStyle]="isAddedToCart ? {'background-color': 'limegreen', 'color': '#FFF', 'border': 'none'} : null" (click)="emitAddToCart()" [disabled]="quantity === 0" class="primaryBtn">
        <ng-container *ngIf="isAddedToCart"><fa-icon [icon]="checkmark"></fa-icon> 카트에 담긴 [Added]</ng-container>
        <ng-container *ngIf="!isAddedToCart">카트 담기 [Add To Cart]</ng-container>
    </button>
</section>