<section>
    <div class="product">
        <img [src]="product.imgSrc" [alt]="product.name">
        <p>{{ product.name }}</p>
        <p>{{ product.price | currency:'USD' }}</p>

        <div>
            <button (click)="toggleQuantityOptions()" class="quantityBtn">Quantity: {{ quantity }} <fa-icon
                    [icon]="caretDownIcon"></fa-icon></button>
            <div [ngStyle]="{'visibility': isVisible ? 'visible' : 'hidden'}" class="quantityOptions">
                <p (click)="setQuantity(1)">1</p>
                <p (click)="setQuantity(2)">2</p>
                <p (click)="setQuantity(3)">3</p>
            </div>
        </div>
    </div>

    <button [ngStyle]="isAddedToCart ? {'background-color': 'limegreen', 'border': '1px solid green'} : null"
        (click)="emitAddToCart()" [disabled]="quantity === 0" class="primaryBtn">{{ isAddedToCart ? '카트에 담긴 [Added!]' :
        '카트 담기 [Add To Cart]' }}</button>
</section>