@media screen and (max-width: 519px) {
    section { 
        width: 100vw;
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .product img {
        height: 130px;
        box-shadow: 0 2px 5px #000;
    }

    .product p {
        margin-top: 10px;
        font-weight: 600;
    }

    .itemQuantity {
        display: inline-flex;
        align-items: center;
        width: 170px;
        height: 35px;
    }

    .quantityBtn {
        width: 120px;
        height: 30px;
        font-family: 'Poppins', sans-serif;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin-top: 10px;
        transition: 0.1s background-color ease;
    }

    .quantityBtn:hover {
        cursor: pointer;
        background-color: #fff;
        transition: 0.1s background-color ease;
    }

    .quantityOptions {
        position: absolute;
        width: 120px;
        height: 75px;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        visibility: hidden;
        cursor: pointer;
    }

    .quantityOptions p {
        height: 25px;
        font-weight: normal;
        border-bottom: 1px solid lightgrey;
        margin-top: 0;
    }

    .quantityOptions p:hover {
        background-color: #fff;
    }

    .membershipDisabled {
        cursor: not-allowed;
        width: 200px;
        height: 45px;
        background-color: #f2f2f2;
        color: grey;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        border: 1px solid grey;
        border-radius: 5px;
    }

    section .primaryBtn {
        width: 210px;
        height: 40px;
        transition: 0.1s background-color ease;
    }

    section .primaryBtn:hover {
        transition: 0.1s background-color ease;
    }
}

@media screen and (min-width: 520px) and (max-width: 767px) {
    section { 
        width: 50vw;
        height: 425px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .product img {
        height: 100px;
        box-shadow: 0 2px 5px #000;
    }

    .product p {
        margin-top: 10px;
        font-weight: 600;
    }

    .itemQuantity {
        display: inline-flex;
        align-items: center;
        width: 170px;
        height: 35px;
    }

    .quantityBtn {
        width: 120px;
        height: 30px;
        font-family: 'Poppins', sans-serif;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin-top: 10px;
        transition: 0.1s background-color ease;
    }

    .quantityBtn:hover {
        cursor: pointer;
        background-color: lightgrey;
        transition: 0.1s background-color ease;
    }

    .quantityOptions {
        position: absolute;
        width: 120px;
        height: 75px;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        visibility: hidden;
        cursor: pointer;
    }

    .quantityOptions p {
        height: 25px;
        font-weight: normal;
        border-bottom: 1px solid lightgrey;
        margin-top: 0;
    }

    .quantityOptions p:hover {
        background-color: lightgrey;
    }

    .membershipDisabled {
        cursor: not-allowed;
        width: 200px;
        height: 45px;
        background-color: #f2f2f2;
        color: grey;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        border: 1px solid grey;
        border-radius: 5px;
    }

    section .primaryBtn {
        width: 170px;
        height: 40px;
        transition: 0.1s background-color ease;
    }

    section .primaryBtn {
        transition: 0.1s background-color ease;
    }
}

@media screen and (min-width: 570px) and (max-width: 660px) {
    .product img {
        height: 110px;
    }
}

@media screen and (min-width: 661px) and (max-width: 767px) {
    .product img {
        height: 130px;
    }
}

@media screen and (min-width: 768px) {
    section { 
        width: 33.3vw;
        height: 425px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .product img {
        height: 110px;
        box-shadow: 0 2px 5px #000;
    }

    .product p {
        margin-top: 10px;
        font-weight: 600;
        color: #222;
    }

    .itemQuantity {
        display: inline-flex;
        align-items: center;
        width: 170px;
        height: 35px;
    }

    .quantityBtn {
        width: 120px;
        height: 30px;
        font-family: 'Poppins', sans-serif;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 10px;
        margin-top: 10px;
        transition: 0.1s background-color ease;
    }

    .quantityBtn:hover {
        cursor: pointer;
        background-color: lightgrey;
        transition: 0.1s background-color ease;
    }

    .quantityOptions {
        position: absolute;
        width: 120px;
        height: 75px;
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        visibility: hidden;
        cursor: pointer;
    }

    .quantityOptions p {
        height: 25px;
        font-weight: normal;
        border-bottom: 1px solid lightgrey;
        margin-top: 0;
    }

    .quantityOptions p:hover {
        background-color: lightgrey;
    }

    .membershipDisabled {
        cursor: not-allowed;
        width: 200px;
        height: 45px;
        background-color: #f2f2f2;
        color: grey;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        border: 1px solid grey;
        border-radius: 5px;
    }

    section .primaryBtn {
        width: 170px;
        height: 40px;
        transition: 0.1s background-color ease;
    }

    section .primaryBtn {
        transition: 0.1s background-color ease;
    }
}

@media screen and (min-width: 1280px) {
    section {
        width: 25vw;
        height: 450px;
    }
}

@media screen and (min-width: 1450px) {
    .product img {
        height: 150px;
        margin-bottom: 5px;
    }

    .product p {
        font-size: 1.1rem;
    }
}