<div class="passwordReset">
    <section @slideIn>
        <ng-container *ngIf="!isLinkSent">
            <form (ngSubmit)="pwdResetSubmit()" #pwdResetForm="ngForm" class="pwdResetForm">
                <div [ngStyle]="{'text-align': 'center'}">
                    <h2>비밀번호 재설정</h2>
                    <h4>[Password Reset]</h4>
                </div>

                <div>
                    <h3 [ngStyle]="{'font-weight': 'bold'}">비밀번호 재설정하려는 계정 이메일을 입력하세요.</h3>
                    <h3>Please enter the email for the password you are trying to reset.</h3>
                </div>

                <div>
                    <label for="email">이메일 [Email]:</label>
                    <input [(ngModel)]="form.email" #emailField="ngModel" type="text" name="email" placeholder="Email"
                        required>
                    <p *ngIf="emailField.invalid && emailField.touched" class="formError">Email is invalid.</p>
                </div>

                <button [ngClass]="pwdResetForm.form.invalid ? 'btnNotAllowed' : 'submitBtn'" type="submit">
                    <ng-container *ngIf="isLoading()">Loading...</ng-container>
                    <ng-container *ngIf="!isLoading()">Send Reset Link</ng-container>
                </button>
            </form>
        </ng-container>
        <ng-container *ngIf="isLinkSent">
            <div id="emailSent" @slideIn>
                <img src="../../../../assets/images/sent_mail.svg" alt="Sent mail">
                <div class="flexCol">
                    <h2>비밀번호 재설정 링크를<br />고객님의 이메일로 보냈습니다</h2>
                    <h4>[Password Reset Link Sent]</h4>
                </div>

                <div class="flexCol">
                    <p>10분 후에 이메일을 확인 해주세요.</p>
                    <p>Please check your email in the next 10 minutes.</p>
                </div>
            </div>
        </ng-container>
    </section>

    <button (click)="goToHome()" class="backBtn" @slideIn><fa-icon [icon]="arrowLeft"></fa-icon> 홈페이지로 이동 [Back to
        Home]</button>
</div>