<div class="registration">
    <section @slideIn>
        <form (ngSubmit)="regSubmit()" #regForm="ngForm" class="regForm">
            <div [ngStyle]="{'text-align': 'center' }">
                <h2>회원 가입</h2>
                <h4>[Register]</h4>
            </div>

            <div>
                <label for="email">이메일 [Email]:</label>
                <input [(ngModel)]="form.email" #emailField="ngModel" type="text" name="email" placeholder="Email"
                    required>
                <p *ngIf="emailField.invalid && emailField.touched" class="formError">Email is invalid.</p>
            </div>

            <div>
                <label for="password">비밀번호 [Password]:</label>
                <input [(ngModel)]="form.password" #pwField="ngModel" type="password" name="password" placeholder="Password"
                    required>
                <p *ngIf="pwField.invalid && pwField.touched" class="formError">Password is invalid.</p>
                <p *ngIf="!isPasswordLengthValid && pwField.invalid" class="formError2">Password must be at least 6 characters.</p>
            </div>

            <div>
                <label for="passConfirm">비밀번호 확인 [Confirm Password]:</label>
                <input [(ngModel)]="form.passConfirm" #pcField="ngModel" type="password" name="passConfirm"
                    placeholder="Confirm Password" required>
                    <p *ngIf="pcField.invalid && pcField.touched" class="formError">Please confirm your password.</p>
            </div>

            <button [ngClass]="regForm.form.invalid ? 'btnNotAllowed' : 'submitBtn'" type="submit">
                <ng-container *ngIf="isLoading()">Loading...</ng-container>
                <ng-container *ngIf="!isLoading()">Submit</ng-container>
            </button>
        </form>
    </section>

    <div *ngIf="!doPasswordsMatch" id="pwdDoesNotMatch" @slideDown>
        Passwords do not match.
    </div>

    <button (click)="goToHome()" class="backBtn" @slideIn><fa-icon [icon]="arrowLeft"></fa-icon> 홈페이지로 이동 [Back to Home]</button>
</div>