@media screen and (max-width: 767px) {
    .panel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        z-index: 3;
    }

    #hidePanel {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #hidePanel button {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #f2f2f2;
        color: var(--luxury-black);
        border: none;
        margin-right: 15px;
        transition: 0.1s background-color ease;
    }

    #hidePanel button:hover {
        cursor: pointer;
        background-color: lightgrey;
        transition: 0.1s background-color ease;
    }

    fa-icon {
        font-size: 1.7rem;
    }

    #routes {
        width: 100%;
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #routes button {
        width: 100%;
        height: 75px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        background-color: #f2f2f2;
        border: none;
        border-bottom: 1px solid lightgrey;
        transition: 0.1s background-color ease;
    }

    #routes button:hover {
        cursor: pointer;
        background-color: lightgrey;
        transition: 0.1s background-color ease;
    }

    #logoutBtn {
        width: 100%;
        height: 75px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        background-color: #f2f2f2;
        color: crimson;
        border: none;
        border-bottom: 1px solid lightgrey;
        transition: 0.1s background-color ease;
    }
}